body.login{
        background: linear-gradient(rgb(253, 253, 253), rgb(250, 250, 250));
    }
.login *{
        font-family: Verdana, Arial, sans-serif;
    }
.formHeader{
        border-bottom:1px solid #c6c6c6;
        padding:10px;
        font-weight: bold;
        background: linear-gradient(rgb(201, 206, 210), rgb(177, 182, 186));
    }
.loginForm {
        font-size:13.6px ;
        font-weight: normal;
        padding:10px;
    }
.fieldset{
        padding:0;
        border-radius: 3px;
        border: 1px solid #C6C6C6;
        background-color: rgb(241, 241, 241);
    }
.fieldsetContents{
        width:350px;
        margin-left:auto;
        margin-right:auto;
    }
.fieldsetContents td{
        padding-top:10px;
        padding-bottom: 15px;
    }        
.login input[type="text"], .login input[type="password"], .login input[type="email"] {
        margin-left: 30px;
    }

.submit{
        position: relative;
        margin-left:auto;
        margin-right:auto;
        width:100px;
    }                         