<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ page contentType="text/html; charset=UTF-8" language="java" session="true" %>
<fmt:setLocale value="${sessionScope.language}" scope="session"/>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/img/picture.png"/>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/foundation.js"></script>
</head>
<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
            <li class="menu-text">Malina Telecom</li>
            <c:choose>
                <c:when test="${sessionScope.user == null}">

                    <li>
                        <form name="forwardLoginForm" method="POST" action="/controller">
                            <input type="hidden" name="command" value="forward_login"/>
                            <input type="submit" class="button" value="<fmt:message key="header.login"/>"/>
                        </form>
                    </li>
                    <li>
                        <form name="forwardRegistrationForm" method="POST" action="/controller">
                            <input type="hidden" name="command" value="forward_registration"/>
                            <input type="submit" class="button" value="<fmt:message key="header.registration"/>"/>
                        </form>
                    </li>

                </c:when>
                <c:otherwise>

                    <c:if test="${sessionScope.role == 'ADMIN'}">
                        <li>
                            <form name="logoutForm" method="POST" action="/controller">
                                <input type="hidden" name="command" value="forward_administrator"/>
                                <input type="submit" class="button" value="<fmt:message key="header.admin"/>"/>
                            </form>
                        </li>
                    </c:if>
                    <c:if test="${sessionScope.role == 'USER'}">
                        <li>
                            <form name="cabinetForm" method="POST" action="/controller">
                                <input type="hidden" name="command" value="cabinet"/>
                                <input type="hidden" name="userId" value="${sessionScope.sessionUserId}"/>
                                <input type="submit" class="button" value="<fmt:message key="header.cabinet"/>"/>
                            </form>
                        </li>
                    </c:if>
                    <li>
                        <form id="logoutForm" name="logoutForm" method="POST" action="/controller">
                            <input type="hidden" name="command" value="logout"/>
                        </form>
                    </li>

                </c:otherwise>
            </c:choose>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <form name="changeLanguageForm" id="changeLanguageForm" method="POST" action="/controller">
                    <input type="hidden" name="command" value="change_language"/>
                </form>
                <div class="input-group">
                    <select name="language" form="changeLanguageForm" class="input-group-field">
                        <option value=""> Русский</option>
                        <option value="en_US"> English</option>
                    </select>

                    <div class="input-group-button">
                        <input type="submit" form="changeLanguageForm" class="button"
                               value="<fmt:message key="login.language"/>">
                        <c:if test="${sessionScope.role != null}">
                            <input type="submit" form="logoutForm" class="button" value="<fmt:message key="login.signOut"/>"/>
                        </c:if>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    })
</script>
</body>

